body {
    text-align: center;
    font-family: Verdana, Tahoma;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 3px;
    text-align: left;
    font-size: 13pt;
    font-family: "Cambria";
}

h1 {
    border-bottom: 1px solid;
    font-size: 26pt;
    font-weight: normal;
}

h1 span.right {
    font-size: 18pt;
    float: right;
    position: relative;
    top: 10px;
}

h2 {
    font-size: 14pt;
}

p, ul, .footer {
    margin: 5px 3px;
    text-align: justify;
    font-size: 11pt;
    font-family: "Calibri";
}

.h2up, .h3up {
    position: relative;
    bottom: 14pt;
}

.h3up {
    bottom: 13pt;
}

.has_h2up, .has_h3up {
    position: relative;
    top: 14pt;
}

.has_h3up {
    top: 13pt;
}

.inline {
    display: inline;
}

.hidden {
    display: none!important;
}

.nolist > li > ul {
    list-style: disc;
}

.nolist {
    padding: 0;
    list-style: none;
}

.nolist > li {
    display: inline;
}

.none {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.main {
    width: 800px;
    margin: 50px auto;
}

.footer {
    font-size: 75%;
    text-align: center;
    position: relative;
    top: 15px;
    border-top: 1px solid;
    padding-top: 3px;
    line-height: 150%;
}

.bordered {
    border: 1px solid;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}