body.style_light {
    background-color: #FFF;
    color: #000;
}

/* Hyperlinks */
body.style_light a,
body.style_light a:link,
body.style_light a:visited {
    color: #004A7F;
}

body.style_light a:hover,
body.style_light a:active {
    color: #7F0000;
}

body.style_light .bordered {
    border-color: #000;
}

/* Footer */
body.style_light .footer {
    color: #555;
    border-color: #555;
}

/* Headings */
body.style_light h1,
body.style_light h2,
body.style_light h3,
body.style_light h4,
body.style_light h5,
body.style_light h6 {
    color: #4F81BD;
}

body.style_light h1 {
    color: #17365D;
}

body.style_light h2 {
    color: #365F91;
}