body.style_dark {
	background: #000;
	color: #FFF;
}

/* Hyperlinks */
body.style_dark a,
body.style_dark a:link,
body.style_dark a:visited {
	color: #0094FF;
}

body.style_dark a:hover,
body.style_dark a:active {
	color: #FF0000;
}

body.style_dark .bordered {
	border-color: #FFF;
}

/* Footer */
body.style_dark .footer {
	color: #AAA;
	border-color: #AAA;
}

/* Headings */
body.style_dark h1,
body.style_dark h2,
body.style_dark h3,
body.style_dark h4,
body.style_dark h5,
body.style_dark h6 {
	color: #CC903D;
}

body.style_dark h1 {
	color: #FFD500;
}

body.style_dark h2 {
	color: #DC9E1F;
}