[id^="img-"] {
    display: block;
    border: none;
    background-image: url('illustrations.png');
}

#img-example-sketch {
    width: 400px;
    height: 300px;
    background-position: -11px -11px;
}

#img-winner {
    width: 400px;
    height: 300px;
    background-position: -11px -11px;
}

.cs1-3 {
    width: 33%;
    padding: 5px;
}

ul.inline {
    margin: 0px;
}