[id^="img-"] {
    display: block;
    border: none;
    background-image: url('illustrations.png');
    margin: 2px 3px;
}

#img-server-banner {
    float: right;
    width: 468px;
    height: 60px;
    background-image: url('https://minecraftpanel.net/image.php?id=33799&domain=1');
}

#img-zero-point {
    width: 400px;
    height: 225px;
    background-position: -10px -10px;
}

#img-welcome-house {
    width: 400px;
    height: 225px;
    background-position: -10px -480px;
}

#img-zero-points-market {
    width: 400px;
    height: 225px;
    background-position: -830px -10px;
}

#img-chest-shop {
    width: 400px;
    height: 225px;
    background-position: -10px -950px;
}

#img-money {
    width: 400px;
    height: 225px;
    background-position: -830px -480px;
}

#img-price {
    width: 400px;
    height: 225px;
    background-position: -830px -950px;
}

#img-un-lock {
    width: 400px;
    height: 225px;
    background-position: -10px -1420px;
}
