[id^="img-"] {
    display: block;
    border: none;
    background-image: url('illustrations.png');
}

#img-dash {
    width: 500px;
    height: 350px;
    background-position: -831px -11px;
}

#img-face {
    width: 350px;
    height: 350px;
    background-position: -11px -1420px;
    margin-left: 25px;
    margin-right: 5px;
}

#img-body {
    width: 800px;
    height: 395px;
    background-position: -11px -11px;
}

#img-genitals {
    width: 300px;
    height: 194px;
    background-position: -831px -481px;
}

#img-ears {
    width: 312px;
    height: 270px;
    background-position: -11px -481px;
}

#img-scales {
    width: 270px;
    height: 300px;
    background-position: -11px -951px;
}

#img-tail-tip {
    width: 300px;
    height: 182px;
    background-position: -831px -951px;
}

#img-body-back {
    width: 340px;
    height: 450px;
    background-position: -831px -1420px;
}

.fur {
    display: inline-block;
    position: relative;
    top: 3pt; /* font-size: 11pt */
    width: 8pt;
    height: 8pt;
    border-radius: 8pt;
}
.fur.orange-brown-fur {
    background-color: #CC903D;
}
.fur.dark-fur {
    background-color: #050401;
}
.fur.white-fur {
    background-color: #FFFFFF;
}
.fur.dark-wine-skin {
    background-color: #4D2B2B;
}
.fur.gray-scale {
    background-color: #CCCCCC;
}
.fur.red-skin {
    background-color: #B26569;
}